h1{ color: red;}
h2{ color: azure;}
h3{ color: lightblue;}
h4{ color: crimson;}
h5{ color: aliceblue;}
h6{ color: darkolivegreen;}

body {
	background-color:#FFD6EC;
	color:#FFD6EC;
}

p{ color: }

/* CSS Document */

